.contenedor-productos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.produtcto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 12px;
    padding: 15px;
    width: 300px;
    transition: transform 0.3s;
}
.producto:hover{
    transform: translateY(-5px);
}
.producto img{
    max-width: 100px;
}
.producto button{
    background-color: rgb(262, 146, 255);
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;

}
.producto button:hover{
    background-color: rgb(62, 146, 255);
}